<section class="content-header">
      
    </section>

    <!-- Main content -->
     <section class="content">

    <form name="userForm" ng-submit="addNewspaper()"> 

    <div class="container">
    <div class="col-md-8 col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Add Newspaper</h3>
            </div>
            <div class="row">
             <div class="col-lg-3 col-xs-6">
             <!-- small box -->
             <div class="small-box bg-aqua">
             <div class="inner">
              <h3>Prajavani</h3>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <button name="prajavani" class="small-box-footer">Add </button>
          </div>

          <div class="row">
             <div class="col-lg-3 col-xs-6">
             <!-- small box -->
             <div class="small-box bg-aqua">
             <div class="inner">
              <h3>Vijay Karnataka</h3>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <button name="vijaykarnataka" class="small-box-footer">Add </button>
          </div>

          <div class="row">
             <div class="col-lg-3 col-xs-6">
             <!-- small box -->
             <div class="small-box bg-aqua">
             <div class="inner">
              <h3>Deccan Herald</h3>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <button name="deccanherald" class="small-box-footer">Add </button>
          </div>

          <div class="row">
             <div class="col-lg-3 col-xs-6">
             <!-- small box -->
             <div class="small-box bg-aqua">
             <div class="inner">
              <h3>Times Of India</h3>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <button name="timesofindia" class="small-box-footer">Add </button>
          </div>

              <div class="box-footer" align="center">
                <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid"> Submit</button>
              </div>
              <br/>
            </form>
          </div>
</div>
</div>

</section>
